<ion-view>
  <ion-content >
  	
  	<div class="main-wrapper">
  		<div class="chat-wrapper">
  			<ul class="list chat-list">
              <li class="item" ui-sref="app.chat-user">
              	<div class="display-flex">
	                <div class="img-icon">
	  					<img src="../img/user-icon.png" class="width-40px">
	  				</div>

	  				<div class="user-info flex-align-center">
	  					<p class="full-width no-margin">
	  						jmrplbrs
							<span class="font-10 pull-right">
	  							<span hidden>Active</span>
	  							<span>Offline</span>
	  							<i class="icon ion-record "></i>
	  						</span>
	  					</p>
	  				</div>
  				</div>
              </li>

              <li class="item" ui-sref="app.chat-user">
              	<div class="display-flex">
	                <div class="img-icon">
	  					<img src="../img/user-icon.png" class="width-40px">
	  				</div>

	  				<div class="user-info flex-align-center">
	  					<p class="full-width no-margin">
	  						jmrplbrs
	  						<span class="font-10 pull-right active">
	  							<span>Active </span>
	  							<span hidden>Offline</span>
	  							<i class="icon ion-record "></i>
	  						</span>
	  						
	  					</p>
	  				</div>
  				</div>
              </li>
            </ul>
      	</div>
  	</div>
    
  </ion-content>
</ion-view> 
