<ion-view expenses-directive>
  <ion-content>
  	
  	<div class="main-wrapper" scroll="true">

      <div ng-if="show_main">
    	  <div class="expenses-wrapper main-expenses-wrapper">
          <!-- <h5 ng-click="toggleSummaryDatePicker()"  class="text-center text-weight-700 no-margin-top no-margin-bottom">
            <span class="sum-date" ng-bind="summary_month_selected">December 2017</span>
            <i class="fa fa-calendar" style="margin-left: 5px"></i>
          </h5> -->
          <!-- <div class="white-space-20"></div> -->
          <div class="stat-box">
            <div class="white-space-20"></div>
            <canvas id="pie" class="chart chart-pie"
              chart-data="expensesChartData" chart-labels="expensesChartLabels" chart-options="expensesChartOptions">
            </canvas>
            <div class="white-space-20"></div>
          </div>

          <div class="stat-box">
            <label class="font-12 text-weight-700">Monthly Budget</label>
            <p class="text-center text-weight-700 value">
              <span>$<span ng-bind="statistics.budget">1000</span>.00</span>
            </p>
          </div>

          <div class="stat-box">
            <label class="font-12 text-weight-700">Total Expenses</label>
            <p class="text-center text-weight-700 value">
              <span>$<span ng-bind="statistics.expenses">700</span>.00</span>
            </p>
          </div>

          <div class="stat-box">
            <label class="font-12 text-weight-700">Savings</label>
            <p class="text-center text-weight-700 value">
              <span>$<span ng-bind="statistics.savings">300</span>.00</span>
            </p>
          </div>

          <div class="white-space-50"></div>
        </div>
      </div>

      <div ng-if="show_add_expenses">
        <div class="add-expenses-wrapper">
          <div class="white-space-10"></div>
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Date" ng-model="expenses_form.date" ng-click="toggleSummaryDatePicker()">
              <i class="icon ion-calendar placeholder-icon" style="padding-right: 10px;"></i>
            </label>
          </div>

          <div style="position: relative;">
            <div class="list list-inset">
              <label class="item item-input">
                <input type="text" placeholder="Category" ng-model="expenses_form.category_name" ng-click="toggleCatOptExpForm()">
                <i class="icon fa fa-caret-down placeholder-icon" style="padding-right: 13px;"></i>
              </label>
            </div>
            <div ng-if="showDropCat" class="list-categoryies" >
              <p ng-repeat="cat in category_list" ng-click="setSelectedCategory(cat)" class="item" ng-bind="cat.category_name"></p>
            </div>
          </div>

          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Description" ng-model="expenses_form.desc">
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <input id="inputExpensesValue" type="text" numbers-only placeholder="Value" ng-model="expenses_form.value">
            </label>
          </div>

          <div class="white-space-20"></div>
          <p ng-if="add_success" class="text-success text-center text-weight-700"><i class="fa fa-check color-green"></i> Successfully added</p>
          <p ng-if="add_error" class="text-error text-center text-weight-700"><i class="fa fa-times color-red"></i> Something went wrong</p>
          <button ng-disabled="!expenses_form.date || !expenses_form.category_name || !expenses_form.category_name || !expenses_form.desc || !expenses_form.value" class="button btn-add-expenses" ng-click="submitExpenses(expenses_form)">SUBMIT</button>
          <button class="button btn-cancel " ng-click="toggleAddExpenses()">CANCEL</button>
          
        </div>
      </div>

      <div ng-if="show_list">
        <div class="expenses-wrapper">
          <div ng-if="week.show" class="week-wrapper" ng-class="{'no-value' : week.weekly_total == 0}" ng-repeat="week in weekRange" >
            <p ng-if="!showSelectedWeekDays" ng-click="toggleWeekDates(week)" class="week-border-bottom" ng-class="{'week-border-bottom2' : week.showDates}">
              <span ng-if="!week.showDates">Week {{$index+1}}</span>

              <span ng-if="week.showDates" class="font-16 text-weight-700">
                <span ng-bind="selected_month"></span>
                ( <span ng-bind="week[0]"></span> - <span ng-bind="week[1]"></span> )
              </span>

              <span ng-if="!week.showDates"><i class="fa fa-caret-down margin-left-5"></i></span>
              <span ng-if="week.showDates" ng-class="{'pull-right' : week.showDates}"><i class="fa fa-caret-up font-20 margin-left-5"></i></span>

              <span ng-if="!week.showDates" class="pull-right font-16 text-weight-700">$ <span ng-bind="week.weekly_total">100</span></span>
            </p>

            <p ng-if="showSelectedWeekDays" class="week-border-bottom week-border-bottom2 text-center" >
              <span class="pull-left">
                <a ng-click="toggleListItems( selected_date )" class="fa fa-arrow-circle-left font-20 color-black-555" href="javascript:void(0)"></a>
              </span>
              <span ng-bind="selected_date.date"></span>
              <span class="pull-right">
                <a ng-click="toggleAddExpenses( selected_date )" class="fa fa-plus-circle font-20 color-black-555" href="javascript:void(0)"></a>
              </span>
            </p>

            <div ng-if="week.showDates && !showSelectedWeekDays" class="list-container">

              <div ng-repeat="date in week.days" class="date-wrapper" ng-class="{'no-value' : date.daily_total == 0}">
                <p ng-click="toggleListItems( date )" class="">
                  <a href="javascript:void(0)" >
                    <i class="fa fa-search margin-right-5 color-black-555"></i>
                  </a>
                  <label class="font-14 text-weight-700" ng-bind="date.date"></label> 
                  
                  <span class="pull-right font-14 text-weight-700">$ <span ng-bind="date.daily_total">100</span></span>
                </p>
              </div>

            </div>

            <div ng-if="showSelectedWeekDays" class="list-container">
              <div ng-repeat="exp in selected_date.expenses" class="date-wrapper">
                <p  ng-click="toggleExpenses(exp)" class="">
                  <label class="font-14 text-weight-700 color-black-000" ng-bind="exp.description"></label> 
                  <span class="pull-right font-12  text-weight-700">$ <span ng-bind="exp.value">100</span></span>
                  <br>
                  <span class="font-10" >Category : <span ng-bind="exp.category"></span></span>
                </p>
              </div>
            </div>
          </div>

          <div class="white-space-20"></div>
          <p ng-if="showSelectedWeekDays" class="font-16 text-weight-700" style="padding: 0 15px;">Total : <span class="pull-right">$ <span ng-bind="selected_date.daily_total">100</span></span></p> 

          <p ng-if="weekSelected && !showSelectedWeekDays" class="font-16 text-weight-700" style="padding: 0 15px;">Weekly Total : <span class="pull-right">$ <span ng-bind="selected_weekly_total">100</span></span></p> 

          <p ng-if="!weeksClosed" class="font-16 text-weight-700" style="padding: 0 15px;">Monthly Total : <span class="pull-right">$ <span ng-bind="monthly_total">100</span></span></p> 
          <div class="white-space-30"></div>
          <div class="white-space-50"></div>
        </div>
      </div>

      <div ng-if="show_settings">
        <div class="expenses-wrapper ">
        
          <div class="categories-wrapper">
            <div class="white-space-10"></div>
            <div class="white-space-5"></div>
            <h5 class="text-weight-700">Categories 
              <span class="pull-right">
                <a href="javascript:void(0)" ng-click="toggleCatOpt()">
                  <i ng-if="!isCategoryOptShow" class="fa fa-cog color-black-555" ></i>
                  <i ng-if="isCategoryOptShow" class="fa fa-times color-black-555" ></i>
                </a>
              </span>
            </h5>

            <ul class="list" >
              <li ng-repeat="cat in category_list" class="item cat-item" ng-class="{'delete_active': delCategoryShow && cat.active, 'update_active': editCategoryShow && cat.active}" ng-click="toggleCategory( cat )">
                <span ng-bind="cat.category_name"></span> 
                  <i ng-if="cat.show && !delCategoryShow && !editCategoryShow && !isCategoryOptShow" class="fa fa-check color-green pull-right"></i>
                  <i ng-if="delCategoryShow" class="fa fa-times color-red pull-right"></i>
                  <i ng-if="editCategoryShow" class="fa fa-pencil color-gray pull-right"></i>
                </span>
              </li>
            </ul>

            <p ng-if="category_list.length == 0" class="text-center text-italic">
              No Categories yet.
            </p>

            <div ng-if="addCategoryShow" class="add-cat-container">
              <div class="white-space-20"></div>
              <div class="list">
                <label class="item item-input">
                  <input id="category_input" type="text" placeholder="Category Name" ng-model="category_info.name" autofocus>
                </label>
              </div>

              <button class="button btn-submit-category" ng-click="addCategories(category_info.name)" ng-disabled="!category_info.name || category_info.name == null">Add</button>
            </div>

            <div ng-if="editCategoryShow && update_category_selected.length > 0" class="add-cat-container">
              <div class="white-space-20"></div>
              <div class="list">
                <label class="item item-input">
                  <input id="category_input2" type="text" placeholder="New Category Name" ng-model="category_info.name" autofocus>
                </label>
              </div>

              <button class="button btn-submit-category" ng-click="updateCategoriesName(category_info.name)" ng-disabled="category_selected.length == 0 || !category_info.name || category_info.name == null">Update</button>
            </div> 

          </div>
          
          <div class="white-space-50"></div>
          <!-- <button ng-if="!isCategoryOptShow" class="button btn-settings-save" ng-click="toggleSettings()">DONE</button> -->
          <button ng-if="delCategoryShow" class="button btn-settings-save" ng-click="deleteAllSelectedCat()" ng-disabled="category_selected.length == 0">Delete</button>
          
        </div>
      </div>


  	</div>

    

  </ion-content>
  <div ng-if="isCategoryOptShow" class="bottom-category-tabs">
    <div class="opt-tab" ng-class="{'active' : addCategoryShow}" ng-click="toggleAddCategory()">
      <i class="fa fa-plus"></i>
      <p>Add</p>
    </div>
    <div class="opt-tab" ng-class="{'active' : editCategoryShow}" ng-click="toggleEditCategory()">
      <i class="fa fa-pencil"></i>
      <p>Edit</p>
    </div>
    <div class="opt-tab" ng-class="{'active' : delCategoryShow}" ng-click="toggleDeleteCategory()">
      <i class="fa fa-minus"></i>
      <p>Del</p>
    </div>
  </div>

  <div ng-if="isExpensesListOptShow" class="bottom-category-tabs">
    <div class="opt-tab" ng-click="toggleEditExpenses()">
      <i class="fa fa-pencil"></i>
      <p>Edit</p>
    </div>
    <div class="opt-tab" ng-click="DeleteExpenses()">
      <i class="fa fa-minus"></i>
      <p>Del</p>
    </div>
  </div>

  <div ng-if="mainOptShow" class="bottom-category-tabs">
    <div class="opt-tab" ng-class="{'active' : show_main}" ng-click="toggleChartView()">
      <i class="fa fa-pie-chart"></i>
      <p>Reports</p>
    </div>
    <div class="opt-tab" ng-class="{'active' : show_list}" ng-click="toggleListView()">
      <i class="fa fa-file-text"></i>
      <p>Expenses</p>
    </div>
    <div class="opt-tab" ng-class="{'active' : show_add_expenses}" ng-click="toggleAddExpenses()">
      <i class="fa fa-plus-circle"></i>
      <p>Add</p>
    </div>
    <div class="opt-tab" ng-class="{'active' : show_settings}" ng-click="toggleSettings()">
      <i class="fa fa-cog"></i> 
      <p>Settings</p>
    </div>
  </div>
</ion-view> 