<ion-view expenses-directive>
  <ion-content scroll="false">
  	
  	<div class="main-wrapper">

      <div ng-if="show_main">
    	  <div class="expenses-wrapper main-expenses-wrapper">
          <h5 ng-click="toggleSummaryDatePicker()"  class="text-center text-weight-700">
            <span class="sum-date" ng-bind="summary_month_selected">December 2017</span>
            <i class="fa fa-calendar" style="margin-left: 5px"></i>
          </h5>
          <div class="white-space-30"></div>
    	  	<canvas id="pie" class="chart chart-pie"
      		  chart-data="expensesChartData" chart-labels="expensesChartLabels" chart-options="expensesChartOptions">
      		</canvas>
          <div class="white-space-50"></div>

          <div ng-if="isStatsShown" class="summary-wrapper">
            <p><label>Income : </label>$ <span ng-if="!isEditIncomeShown" ng-bind="statistics.income">1000.00</span>
              <a ng-if="!isEditIncomeShown" href="javascript:void(0)" ng-click="toggleEditIncome()"><i class="fa fa-pencil color-black-555" style="margin-left: 5px;"></i></a>
              
              <label ng-if="isEditIncomeShown" class="item item-input income-input">
                <input type="text" name="" ng-model="statistics.income">
              </label>
              <button ng-if="isEditIncomeShown" ng-click="toggleEditIncome()" class="button btn-income">Done</button>
            </p>
            <p><label>Expenses : </label>$ <span ng-bind="statistics.expenses">700.00</span></p>
            <p><label>Savings : </label>$ <span ng-bind="statistics.savings">300.00</span></p>
          </div>
        </div>

        <ul class="list expenses-list" >
          <li class="item">
            <i class="fa fa-plus"></i> Add Expenses
          </li>
          <li class="item" ng-click="toggleListView()">
            <i class="fa fa-file-text-o"></i> List
          </li>
          <li class="item" ng-click="toggleSettings()">
            <i class="fa fa-cog"></i> Settings
          </li>
        </ul>
      </div>

      <div ng-if="show_list">
        <div class="expenses-wrapper">
          <h5 class="text-center text-weight-700">
            <span ng-bind="exp_list_month_selected">December 2017</span>
            <i ng-click="toggleSummaryDatePicker()" class="fa fa-calendar" style="margin-left: 5px"></i>
          </h5>
          <div class="white-space-20"></div>

          <div class="list-container">
            <div ng-repeat="date in expenses_list" class="date-wrapper">
              <p>
                <label class="text-weight-700" ng-bind="date.date"></label> 
                <a href="javascript:void(0)" ng-click="toggleListItems( date )" class="pull-right">
                  <i ng-if="!date.showList" class="fa fa-angle-down color-black-555"></i>
                  <i ng-if="date.showList" class="fa fa-angle-up color-black-555"></i>
                </a>
              </p>
              <ul ng-if="date.showList" class="list-expenses list">
                <li class="item" ng-repeat="exp in date.expenses">
                  <span ng-bind="exp.desc"></span> 
                  <span class="pull-right">$ <span ng-bind="exp.value"></span></span>
                </li>
                <div class="white-space-10"></div>
                <li class="item font-13 text-weight-700">
                  <span>Total</span> 
                  <span class="pull-right">$ <span ng-bind="exp.total"></span>100</span>
                </li>
                <div class="white-space-20"></div>
              </ul>
            </div>
          </div>

          <div class="white-space-50"></div>
          <button class="button btn-settings-save" ng-click="toggleListView( )">DONE</button>
          
        </div>
      </div>

      <div ng-if="show_settings">
        <div class="expenses-wrapper">
          <div class="statistics-wrapper">
            <ul class="list">
              <li class="font-18 text-weight-700" ng-click="toggleStatistics()">
                Show Statistics <i ng-if="isStatsShown" class="fa fa-check color-green pull-right"></i>
              </li>
            </ul>
          </div>

          <div class="white-space-20"></div>

          <div class="categories-wrapper">
            <h5 class="text-weight-700">Categories 
              <span class="pull-right">
                <a href="javascript:void(0)" ng-click="toggleCatOpt()"><i class="fa fa-cog color-black-555" style="margin-right: 5px"></i></a>
              </span>
            </h5>

            <ul class="list" >
              <li ng-repeat="cat in category_list" class="item cat-item" ng-class="{'delete_active': delCategoryShow && cat.active, 'update_active': editCategoryShow && cat.active}" ng-click="toggleCategory( cat )">
                <span ng-bind="cat.category_name"></span> 
                  <i ng-if="cat.show && !delCategoryShow && !editCategoryShow && !isCategoryOptShow" class="fa fa-check color-green pull-right"></i>
                  <i ng-if="delCategoryShow" class="fa fa-times color-red pull-right"></i>
                  <i ng-if="editCategoryShow" class="fa fa-pencil color-gray pull-right"></i>
                </span>
              </li>
            </ul>

            <div ng-if="addCategoryShow" class="add-cat-container">
              <div class="white-space-20"></div>
              <div class="list">
                <label class="item item-input">
                  <input id="category_input" type="text" placeholder="Category Name" ng-model="category_info.name" autofocus>
                </label>
              </div>

              <button class="button btn-submit-category" ng-click="addCategories(category_info.name)" ng-disabled="!category_info.name || category_info.name == null">Add</button>
            </div>

            <div ng-if="editCategoryShow && update_category_selected.length > 0" class="add-cat-container">
              <div class="white-space-20"></div>
              <div class="list">
                <label class="item item-input">
                  <input id="category_input2" type="text" placeholder="New Category Name" ng-model="category_info.name" autofocus>
                </label>
              </div>

              <button class="button btn-submit-category" ng-click="updateCategoriesName(category_info.name)" ng-disabled="category_selected.length == 0 || !category_info.name || category_info.name == null">Update</button>
            </div> 

          </div>
          
          <div class="white-space-50"></div>
          <button ng-if="!isCategoryOptShow" class="button btn-settings-save" ng-click="toggleSettings()">DONE</button>
          <button ng-if="delCategoryShow" class="button btn-settings-save" ng-click="deleteAllSelected()" ng-disabled="category_selected.length == 0">Delete</button>
          
        </div>
      </div>

      <div ng-if="isCategoryOptShow" class="bottom-category-tabs">
        <div class="opt-tab" ng-click="toggleAddCategory()">
          <i class="fa fa-plus"></i>
          <p>Add</p>
        </div>
        <div class="opt-tab" ng-click="toggleEditCategory()">
          <i class="fa fa-pencil"></i>
          <p>Edit</p>
        </div>
        <div class="opt-tab" ng-click="toggleDeleteCategory()">
          <i class="fa fa-minus"></i>
          <p>Del</p>
        </div>
      </div>

  	</div>

  </ion-content>
</ion-view> 
