<ion-view>
  <ion-content >
  	
  	<div class="main-wrapper wall-wrapper">
  		
  		<div class="feed-wrapper">
  			<div class="feed-header display-flex">
  				<div class="img-icon">
  					<img src="../img/user-icon.png" class="width-40px">
  				</div>

  				<div class="feed-user-info">
  					<p class="full-width no-margin text-weight-700">
  						jmrplbrs

  						<a href="" class="pull-right">
	  						<i class="icon ion-more font-20"></i>
	  					</a>
  					</p>
  				</div>
  			</div>

  			<div class="feed-img">
  				<img src="../img/feed.jpg" class="full-width">
  			</div>

  			<div class="feed-desc">
  				<p class="font-12">
  					Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet.
  				</p>
  				<label class="color-black3 font-12">Sept 06 2017</label>
  			</div>
  		</div>

  		<div class="feed-wrapper">
  			<div class="feed-header display-flex">
  				<div class="img-icon">
  					<img src="../img/user-icon.png" class="width-40px">
  				</div>

  				<div class="feed-user-info">
  					<p class="full-width no-margin">
  						jmrplbrs

  						<a href="" class="pull-right">
	  						<i class="icon ion-more font-20"></i>
	  					</a>
  					</p>
  				</div>
  			</div>

  			<div class="feed-img">
  				<img src="../img/feed.jpg" class="full-width">
  			</div>

  			<div class="feed-desc">
  				<p class="font-12">
  					Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet.
  				</p>
  				<label class="color-black3 font-12">Sept 06 2017</label>
  			</div>
  		</div>

  		<div class="feed-wrapper">
  			<div class="feed-header display-flex">
  				<div class="img-icon">
  					<img src="../img/user-icon.png" class="width-40px">
  				</div>

  				<div class="feed-user-info">
  					<p class="full-width no-margin">
  						jmrplbrs

  						<a href="" class="pull-right">
	  						<i class="icon ion-more font-20"></i>
	  					</a>
  					</p>
  				</div>
  			</div>

  			<div class="feed-img">
  				<img src="../img/feed.jpg" class="full-width">
  			</div>

  			<div class="feed-desc">
  				<p class="font-12">
  					Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet.
  				</p>
  				<label class="color-black3 font-12">Sept 06 2017</label>
  			</div>
  		</div>

  	</div>
    
  </ion-content>
</ion-view> 
