body,html{
  height: 100%;
  width: 100%;
  background: #EEF2F5;
  font-family: 'Helvetica Light' !important;
  color: #333 !important;
}

/*b{
  font-weight: 700;
}*/


/*a{*/
  /*color: #333;*/
/*}

p{
  font-size: 14px;
}*/

/*h1,h2,h3,h4,h5{*/
  /*margin-top: 10px !important;
  margin-bottom: 10px !important;*/
/*}

h5{
  font-size: 18px;
}

h4{
  font-size: 23px;
}

h3{
  font-size: 26px;
}

h2{
  font-size: 30px;
}

h1{
  font-size: 35px;
}

a:hover{
  text-decoration: none;
}*/

/*------------------------------*/


.login-container{
  padding: 130px 20px;
} 

.main-wrapper{
  margin-top: 43px;
  height: 100%;
}

.feed-wrapper{
  overflow: hidden;
}

.feed-wrapper .img-icon{
  /*flex: 1;*/
  width: 40px;
}

.feed-wrapper .feed-user-info{
  display: flex!important;
  padding: 0 10px;
  flex: 9;
}

.feed-wrapper .feed-header{
  padding: 5px 10px;
  width: 100%;
  align-items: center!important;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.feed-wrapper .feed-img{
  height: 350px;
  width: 100%;
  display: flex!important;
  align-items: center!important;
  background: #e6e6e6;
  overflow: hidden;
}

.feed-wrapper .feed-desc{
  padding: 10px 20px;
  margin-bottom: 20px;
}

.sidemenu-wrapper{
  height: 100%;
  overflow: hidden;
  background: #f7f6f6;
}

.sidemenu-list li{
  padding: 15px 30px;
  color: #252525;
  background: #f7f6f6;
  font-size: 15px;
}

.sidemenu-list li i{
  margin-right: 10px;
  font-size: 25px;
  position: relative;
  top: 3px;
  color: #737373;
  display: inline-block;
  width: 30px;
  text-align: center;
}

.sidemenu-list li.active{
  background: #4FC5F1;
  color: #fff;
}

.sidemenu-list li.active i{
  color: #fff;
}










/*--------- SETTINGS ---------*/

.main-expenses-wrapper{
  /*max-height: 65vh;
  overflow-y: scroll;*/
}



.btn-cancel{
  display: block;
  margin: 0 auto 20px auto;
  width: 80%;
  max-width: 500px;
  background: #d6dde6;
  color: #fff;
  font-weight: 700;
  min-height: unset;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.btn-add-expenses{
  display: block;
  margin: 0 auto 20px auto;
  width: 80%;
  max-width: 500px;
  background: #5699ff;
  color: #fff;
  font-weight: 700;
  min-height: unset;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.btn-add-expenses:hover,
.btn-cancel:hover {
    color: #fff;
    text-decoration: none;
}

.add-expenses-wrapper .list-inset{
  margin: 10px;
}

.add-expenses-wrapper .list-categoryies{
  margin: 0px 11px;
  position: absolute;
  top: 48px;
  width: 94.8%;
  z-index: 99;
  /*display: none;*/
}

.add-expenses-wrapper .list-categoryies .item{
  background: #fbfbfb;
}

.expenses-wrapper{
  padding: 20px;
}

.expenses-wrapper .btn-settings-save{
  display: block;
  margin: 0 auto;
  width: 150px;
  background: #5699ff;
  color: #fff;
  font-weight: 700;
  min-height: unset;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.expenses-wrapper .summary-wrapper p{
  margin-bottom: 5px;
  color: #888 !important;
}

.expenses-wrapper .summary-wrapper p label{
  font-weight: 700;
  width: 100px;
  display: inline-block;
  color: #555 !important;
}

.expenses-wrapper .summary-wrapper .income-input{
  height: 25px;
  line-height: 25px;
  padding: 0 6px;
  position: relative;
  top: 6px;
}

.expenses-wrapper .summary-wrapper .income-input input{
  height: 23px;
  padding: 0;
}

.expenses-wrapper .summary-wrapper .btn-income{
  height: 25px;
  min-height: unset;
  line-height: 24px;
  font-size: 12px;
  background: #639fca;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  position: relative;
  top: 5px;
}

.expenses-list{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.expenses-list li{
  color: #252525;
  background: #f5f5f5;
  font-size: 15px;
  border-bottom: 1px solid #d0cccc;
  padding: 15px 35px;
}

.expenses-list li i{
  margin-right: 10px;
  font-size: 18px;
  position: relative;
  top: 3px;
  color: #737373;
  display: inline-block;
  width: 30px;
  text-align: center;
}

.week-wrapper > p,
.week-wrapper .date-wrapper > p{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.week-wrapper .week-border-bottom,
.week-wrapper .date-wrapper .date-border-bottom{
  border-bottom: 1px solid #eee;
}

.week-wrapper > .item{
  margin: -1px -10px;
  padding: 8px 10px;
}

.week-wrapper .list-container{
  margin-left: 5px;
}


.list-expenses .item{
  margin: -1px -10px -1px 5px;
  padding: 8px 10px;
}

.categories-wrapper .btn-add,
.categories-wrapper .btn-delete{
  min-height: unset;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-top: -5px;
  border: 1px solid #eee;
}

.categories-wrapper .btn-add.active,
.categories-wrapper .btn-delete.active{
  border:1px solid #009EC8;
  background: #009EC8;
  color: #fff;
}

.categories-wrapper .btn-submit-category{
  display: block;
  margin: 0 auto;
  width: 150px;
  background: #5699ff;
  color: #fff;
  font-weight: 700;
  min-height: unset;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.categories-wrapper .cat-item.delete_active{
  background-color: #f5d3d3;
  border-color: transparent;
}

.categories-wrapper .cat-item.update_active{
  background-color: #449d4457;
  border-color: transparent;
}

.bottom-category-tabs{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #f5f5f5;
  z-index: 99;
  display: flex;
  border-top: 1px solid #ddd;
}

.bottom-category-tabs .opt-tab{
  flex: 1;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.bottom-category-tabs .opt-tab:last-child{
  border-right: none;
}

.bottom-category-tabs .opt-tab p{
  margin-bottom: 0;
}










/*-------------*/

.chat-list .img-icon{
  width: 40px;
}

.chat-list .user-info{
  display: flex!important;
  padding: 0 10px;
  flex: 9;
}

.chat-list .item{
  padding:10px;
}

.chat-list .user-info i{
  color: #a29e9e;
  margin-left: 5px;
}

.chat-list .user-info .active i{
  color: #55bb53;
}

.bg-gray-theme{
    background: #424C58 !important;
}


/*sweetalert overwrite*/

.ionic_datepicker_popup .popup{
  width: 80%;
  min-width: 300px;
}

.ionic_datepicker_popup .popup .date_selection{
  padding: 0 0 10px 0 !important;
}

.ionic_datepicker_popup .popup .button_set{
  /*display: none;*/
  margin: 0;
}

.ionic_datepicker_popup .popup-body .show_nav {
    padding: 0 0 0 0 !important;
}

.ionic_datepicker_popup .popup .button_close{
  display: none;
}

.ionic_datepicker_popup .date_col{
  background-color: #FFF !important;
  border-radius: 0 !important;
  font-weight: 700 !important;
  color: #757373 !important;
  border: none !important;
  margin: 2px 8px !important

}

.ionic_datepicker_popup .selected_date {
  color: #e6a631 !important;
  font-family: 'Helvetica Neu Bold' !important;
  background: #e8e4e4 !important;
}

.ionic_datepicker_popup .today {
  color: #5674e4 !important;
  font-family: 'Helvetica Neu Bold' !important;
}

.month_select,
.year_select
{
  height: 40px;
}

.ionic_datepicker_popup .calendar_grid {
    height: 170px !important;
}

.select_section select{
  left: 0 !important;
  width: 100%;
  max-width: unset;
  direction: ltr;
  padding: 0 10px !important;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Helvetica Light';
}

.select_section select option{
  font-weight: 700;
  font-size: 14px !important;
}

.sweet-alert .sa-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}

.sweet-alert .sa-icon.sa-warning .sa-dot {
  height: 7px;
  bottom: 5px;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
  height: 20px;
  top: 5px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  right: 3px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  left: 3px;
}

.sweet-alert .sa-icon.sa-error .sa-line {
  width: 35px;
  top: 17px;
}

.sweet-alert .sa-icon.sa-success{
  overflow: hidden;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 18px;
  left: 2px;
  top: 24px;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 30px;
  right: 0px;
  top: 20px;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 40px;
  height: 40px;
}

.sweet-alert .sa-icon.sa-success .sa-fix {
  height: 56px;
  background-color: white;
  left: 5px;
  top: 3px;
}

.sweet-alert button{
  margin-top: 12px;
}