/*
@font-face {
  font-family: 'Myriad-Pro-Regular';
  src: url('../fonts/Myriad Pro Regular.ttf')  format('truetype');
}*/


body,html{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #EEF2F5;
}

b{
  font-weight: 700;
}


a{
  /*color: #333;*/
}

p{
  font-size: 14px;
}

h1,h2,h3,h4,h5{
  /*margin-top: 10px !important;
  margin-bottom: 10px !important;*/
}

h5{
  font-size: 18px;
}

h4{
  font-size: 23px;
}

h3{
  font-size: 26px;
}

h2{
  font-size: 30px;
}

h1{
  font-size: 35px;
}

a:hover{
  text-decoration: none;
}

input{

}

/*------------------------------*/


.login-container{
  padding: 130px 20px;
} 

.main-wrapper{
  margin-top: 45px;
}

.feed-wrapper{
  overflow: hidden;
}

.feed-wrapper .img-icon{
  /*flex: 1;*/
  width: 40px;
}

.feed-wrapper .feed-user-info{
  display: flex!important;
  padding: 0 10px;
  flex: 9;
}

.feed-wrapper .feed-header{
  padding: 5px 10px;
  width: 100%;
  align-items: center!important;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.feed-wrapper .feed-img{
  height: 350px;
  width: 100%;
  display: flex!important;
  align-items: center!important;
  background: #e6e6e6;
  overflow: hidden;
}

.feed-wrapper .feed-desc{
  padding: 10px 20px;
  margin-bottom: 20px;
}

.sidemenu-wrapper{
  height: 100%;
  overflow: hidden;
  background: #f7f6f6;
}

.sidemenu-list li{
  padding: 15px 30px;
  color: #252525;
  background: #f7f6f6;
  font-size: 15px;
}

.sidemenu-list li i{
  margin-right: 10px;
  font-size: 25px;
  position: relative;
  top: 3px;
  color: #737373;
  display: inline-block;
  width: 30px;
  text-align: center;
}

.sidemenu-list li.active{
  background: #4FC5F1;
  color: #fff;
}

.sidemenu-list li.active i{
  color: #fff;
}

/*------------------*/


.expenses-wrapper{
  padding: 60px 20px;
}

.expenses-list{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.expenses-list li{
  color: #252525;
  background: #f5f5f5;
  font-size: 15px;
  border-bottom: 1px solid #d0cccc;
  padding: 15px 35px;
}

.expenses-list li i{
  margin-right: 10px;
  font-size: 25px;
  position: relative;
  top: 3px;
  color: #737373;
  display: inline-block;
  width: 30px;
  text-align: center;
}

/*-------------*/

.chat-list .img-icon{
  width: 40px;
}

.chat-list .user-info{
  display: flex!important;
  padding: 0 10px;
  flex: 9;
}

.chat-list .item{
  padding:10px;
}

.chat-list .user-info i{
  color: #a29e9e;
  margin-left: 5px;
}

.chat-list .user-info .active i{
  color: #55bb53;
}